Source: nx-desktop-appimages
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://nx-desktop.org


Package: nx-desktop-appimages
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Defaults AppImages for NX Desktop
 Default AppImages for:
  - znx
  - vmetal
  - pnx
  - app
  - appimaged
  - wine
  - kdenlive
  - lmms
  - libreoffice
  - waterfox
  - mpv
  - inkscape
  - gimp

